<p>Hello,</p>

<p> <%= title %> </p>

<pre> <%= dataString %> </pre>

Thanks,
<br>
<strong><%= email.fromName %></strong>
<hr>
<p style="font-size: smaller">
	Please do not reply to this email. Click <a
		href="<%= email.baseURL %>help">here</a> to contact Emanate Support.
</p>