<p>
Hi <%= user.username %>,
</p>
<p>
You have been signed up for a Emanate account with administrator privileges to the organization "<%= user.organizationName %>" Your login email is <%= user.emailID %>. 
</p>
<p>
Please click here to login.
</p>

Thank you, <br>
<strong>Emanate Wirless</strong>
<hr>
<p style="font-size:smaller">Please do not reply to this email. Click here to contact Emanate Support.</p>
