table tr td:empty {
	border: none;
	padding: 0px;
}
td {
	padding-right: 30px;
	padding-left: 10px;
}
.labelDesc {
	padding-left: 12px;
	font-weight: bold;
}
.contentDesc {
	text-indent: 30px;
	padding-left: 30px;
}