<p>Hi <%= user.username %>!</p>
<p>
	This is a sample template. <strong>Hello World</strong>. 
	<br>Your log in email is <strong><%=user.emailID %></strong>.
</p>


Thank you,
<br>
<strong><%= email.from_name %></strong>
