<!DOCTYPE html>
<html>
<head>
  <title>report_problem_dialog.html</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="../../../../doc-style.css" />
  <script src="../../../../doc-filelist.js"></script>
  <script>
    var relativeDir = "../../../../", thisFile = "app/code/public_html/dialogs/report_problem_dialog.html", defaultSidebar = true;
  </script>
  <script src="../../../../doc-script.js"></script>
  <script src="../../../../fileSearch.js"></script>
  <link rel="stylesheet" href="../../../../fileSearch.css" />
</head>
<body>
  <div id="sidebar_wrapper">
    <div id="sidebar_switch">
      <span class="tree">Files</span>
      <span class="headings">Headings</span>
    </div>
    <div id="tree"></div>
    <div id="headings">
    </div>
  </div>
  <div id="sidebar-toggle"></div>
  <div id="container"><div class="background highlight"></div>
<table cellpadding="0" cellspacing="0">
  <tbody>
      <tr>
        <td class="docs">
          <h1>report_problem_dialog.html</h1>
        </td>
        <td class="code highlight"></td>
      </tr>
      <tr>
        <td class="docs">
<div class="pilwrap">
  <a class="pilcrow" href="#section-1" id="section-1">&#182;</a>
</div>

        </td>
        <td class="code highlight"><div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">&quot;48_reportProblemDialog&quot;</span> <span class="na">class=</span><span class="s">&quot;modal fade&quot;</span> <span class="na">ng-controller=</span><span class="err"> </span><span class="s">&quot;ReportProblemController&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;modal-dialog&quot;</span><span class="nt">&gt;</span>    
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;modal-content&quot;</span><span class="nt">&gt;</span>
      <span class="nt">&lt;form</span> <span class="na">class=</span><span class="s">&quot;form-horizontal&quot;</span> <span class="na">role=</span><span class="s">&quot;form&quot;</span> <span class="na">name=</span><span class="s">&quot;reportProblemForm&quot;</span> <span class="na">novalidate</span> <span class="na">enctype =</span><span class="err"> </span><span class="s">&quot;multipart/form-data&quot;</span> <span class="na">ng-submit=</span><span class="s">&quot;reportProblem(reportProblemFormVal, reportProblemForm.$valid)&quot;</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;modal-header&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">&quot;button&quot;</span> <span class="na">class=</span><span class="s">&quot;close&quot;</span> <span class="na">data-dismiss=</span><span class="s">&quot;modal&quot;</span>
          <span class="na">aria-hidden=</span><span class="s">&quot;true&quot;</span><span class="nt">&gt;</span><span class="ni">&amp;times;</span><span class="nt">&lt;/button&gt;</span>
        <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">&quot;modal-title&quot;</span><span class="nt">&gt;</span>Report a problem<span class="nt">&lt;/h4&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;modal-body&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&quot;hasError === 1&quot;</span>
          <span class="na">class=</span><span class="s">&quot;alert col-md-12 col-center-block&quot;</span>
          <span class="na">ng-class=</span><span class="s">&quot;{ &#39;alert-danger&#39; : hasError === 1 }&quot;</span><span class="nt">&gt;</span>
          {{msgToShow}}
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group row&quot;</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">&quot;&quot;</span> <span class="na">class=</span><span class="s">&quot;col-sm-3 control-label&quot;</span><span class="nt">&gt;</span>Username :<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-sm-4 padding-left&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;reportProblemFormVal.username&quot;</span> <span class="na">name=</span><span class="s">&quot;username&quot;</span> <span class="na">readonly</span><span class="nt">&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group row&quot;</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">&quot;&quot;</span> <span class="na">class=</span><span class="s">&quot;col-sm-3 control-label&quot;</span><span class="nt">&gt;</span>Organization :<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-sm-4 padding-left&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;reportProblemFormVal.organization&quot;</span> <span class="na">name=</span><span class="s">&quot;organization&quot;</span> <span class="na">readonly</span><span class="nt">&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group row&quot;</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">&quot;&quot;</span> <span class="na">class=</span><span class="s">&quot;col-sm-3 control-label&quot;</span><span class="nt">&gt;</span>Deployment :<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-sm-4 padding-left&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;reportProblemFormVal.deployment&quot;</span> <span class="na">name=</span><span class="s">&quot;deployment&quot;</span> <span class="na">readonly</span><span class="nt">&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group row&quot;</span> <span class="na">ng-class=</span><span class="s">&quot;{ &#39;has-error&#39; : isSubmitted &amp;&amp; reportProblemForm.description.$invalid}&quot;</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">&quot;&quot;</span> <span class="na">class=</span><span class="s">&quot;col-sm-3 control-label&quot;</span><span class="nt">&gt;</span>Description :<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-sm-4 padding-left&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;textarea</span> <span class="na">ng-model=</span><span class="s">&quot;reportProblemFormVal.description&quot;</span>  <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">name=</span><span class="s">&quot;description&quot;</span> <span class="na">ng-model-options=</span><span class="s">&quot;{ updateOn: &#39;blur&#39; }&quot;</span> <span class="na">required</span><span class="nt">&gt;&lt;/textarea&gt;</span>
            <span class="nt">&lt;span</span> <span class="na">ng-show=</span><span class="s">&quot;isSubmitted &amp;&amp; reportProblemForm.description.$invalid&quot;</span>  <span class="na">class=</span><span class="s">&quot;help-block&quot;</span><span class="nt">&gt;</span>Please enter the description.<span class="nt">&lt;/span&gt;</span> 
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group row&quot;</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">&quot;&quot;</span> <span class="na">class=</span><span class="s">&quot;col-sm-3 control-label&quot;</span><span class="nt">&gt;</span>File :<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-sm-4 padding-left&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;file&quot;</span> <span class="na">ng-file-select =</span><span class="err"> </span><span class="s">&quot;reportFile&quot;</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;reportProblemFormVal.reportFile&quot;</span>
            <span class="na">name=</span><span class="s">&quot;reportFile&quot;</span> <span class="na">ng-multiple =</span><span class="err"> </span><span class="s">&quot;true&quot;</span><span class="nt">&gt;</span>           
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group row&quot;</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">&quot;&quot;</span> <span class="na">class=</span><span class="s">&quot;col-sm-3 control-label&quot;</span><span class="nt">&gt;</span>Date :<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-sm-4 padding-left&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;reportProblemFormVal.dateAndTime&quot;</span> <span class="na">name=</span><span class="s">&quot;dateAndTime&quot;</span> <span class="na">readonly</span><span class="nt">&gt;</span>
          <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;modal-footer&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span>  <span class="na">class=</span><span class="s">&quot;btn btn-sm btn-primary ladda-button&quot;</span> <span class="na">id=</span><span class="s">&quot;43_btnReportProblem&quot;</span> <span class="na">data-style=</span><span class="s">&quot;expand-left&quot;</span><span class="nt">&gt;&lt;span</span> <span class="na">class=</span><span class="s">&quot;lada-label&quot;</span><span class="nt">&gt;</span>Report<span class="nt">&lt;/span&gt;&lt;/button&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">&quot;button&quot;</span> <span class="na">class=</span><span class="s">&quot;btn btn-sm btn-default&quot;</span>
          <span class="na">data-dismiss=</span><span class="s">&quot;modal&quot;</span> <span class="na">ng-click =</span><span class="err"> </span><span class="s">&quot;clearReportDialog(reportProblemFormVal)&quot;</span><span class="nt">&gt;</span>Close<span class="nt">&lt;/button&gt;</span>        
      <span class="nt">&lt;/div&gt;</span>
      
      <span class="nt">&lt;/form&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>
        </td>
      </tr>
  </tbody>
</table>
  </div>
</body>
</html>
